@charset "utf-8";
.package-ul>li{
    text-align: center
}

.select-info {
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal
}

.package-ul {
    padding: 0 .1rem;
    font-size: .13rem
}

.package-ul>li {
    border:1px solid #212121;
    color: #212121;
    border-radius: 5px;
    padding: 8px 0;
    margin-bottom: .1rem;
    float: left
}

.col-c-3>li {
    width: 32%;
    margin-right: 2%
}

.col-c-2>li {
    width: 48%;
    margin-left: 4%
}

.col-c-2>li:nth-child(odd) {
    margin-left: 0
}

.col-c-3>li:nth-child(3n) {
    margin-right: 0
}

.package-ul>li>a {
    color: #434343
}

.card-info>div{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}


.package-ul>.active, .package-ul>.active2{
    position: relative;
    border-color: #EC7402
}
.package-ul>.active:after, .package-ul>.active2:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%
}
.package-ul>.active:after {
    bottom: 0;
    width: .25rem;
    height: .25rem;
    background-image: url(../img/ic_checked.png);
}
.package-ul>.active2:after {
    background-image: url(../img/ic_checked2.png);
    width: .3rem;
    height: .3rem;
    bottom: -1px
}

.package-ul>.active>a {
    color: #EC7402
}

.package-ul>li>a {
    display: block
}

.tag-package{
    background-image: url(../img/shiming_title_icon.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: left center;
    padding: .1rem .15rem;
    margin-left: 5px;
    font-size: .14rem;
    color: #313131
}
.tag-package>.grey{
    color: #666;
    font-size: 0.12rem;
}
.tag-package>.fl{
    line-height: 0.22rem;
}
.card-info {
    margin: 0 .18rem;
    font-size: .13rem
}

.card-info>div {
    padding: .1rem 0;
    width: 50%;
    height: .4rem;
    overflow: hidden
}

.card-info>label {
    color: #5e6e7e
}

.card-info>span {
    font-size: .17rem
}

.card-info>span>b {
    font-size: .12rem
}

.card-info>span>b>i {
    color: #000
}

.count-0 {
    padding: 0 .1rem;
    margin-top: .1rem
}

.count-0>.clr {
    margin-bottom: .05rem
}

.count-0>.clr>.fl {
    color: #666
}

.count-0>.clr>.fr.f-w {
    position: relative;
    top: .08rem
}

.count-0>.clr>div>b, .m-footer2 .f-w{
    font-size: .18rem;
    font-weight: 700
}
.m-footer2 .f-w{padding-right: 10px;}
.select-info {
    text-align: left;
    max-height: 320px;
    overflow-y: scroll;
    font-size: .13rem
}

.select-info>dl {
    margin-bottom: .1rem
}

.select-info>dl:last-child {
    margin-bottom: 0
}

.select-info>dl>dt {
    font-size: #2e3e4e;
    margin-bottom: 3px
}

.select-info>dl>dd {
    line-height: 1.6;
    color: #555;
    font-size: .12rem
}

.select-info>dl>.b {
    font-weight: 700;
    color: #232425
}

.m-footer{
    margin:0 0.1rem;
    margin-top: 0.1rem;
    padding-top: 0.1rem;
    border-top:1px dashed #A1A1A1;
    color: #666;
}
.m-footer>.m-form-checkbox>label>.text{
    font-size: 0.13rem;
}
.m-footer>.fr{
    line-height: 0.2rem;
    position: relative;
}
.m-footer .f-w{
    color: #48576a;
}
.m-footer2 .set-tips{
    color:#E74C3C;font-size: 0.11rem;
    line-height: 0.22rem;padding-left: 0.1rem;
    display: inline-block;
}
.m-footer>.fr>.set-tips{display:none;position: absolute;right: 0;bottom: 0; font-size: 0.1rem;color:#E74C3C;}
@media screen and (max-width: 369px){
    .m-footer>.fl, .m-footer>.fr{float: none;}
    .m-footer>.fr{margin-left:0.47rem;}
    .m-footer2 .set-tips{display: none;}
    .m-footer>.fr>.set-tips{display: inline-block;}
}

/*复选框*/
.m-form-checkbox>div{
    
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

.m-form-checkbox>div>.checkbox{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle
}

.m-form-checkbox>div>.checkbox>span{
    display: inline-block;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.m-form-checkbox>div>.checkbox>span:active {
    border-color: #4b3887
}

.m-form-checkbox>div>.checkbox>span:after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    transform-origin: center
}

.m-form-checkbox>div>.text{
    font-size: 14px;
}
.m-form-checkbox>div>.checkbox.active>span{
    border-color: #4b3887;background: #4b3887;
}
.m-form-checkbox>div>.checkbox.active>span:after{
    transform: rotate(45deg) scaleY(1);
    -webkit-transform: rotate(45deg) scaleY(1)
}
/*单选按钮*/
.m-form-radio, .m-form-checkbox{
    display: inline-block; position: relative;
}
.m-form-radio>div{
    /*color: #1f2d3d;*/
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none}
.m-form-radio>div>.text{font-size: 13px;}
.m-form-radio>div>.radio{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle}
.m-form-radio>div>.radio>span{
    border: 1px solid #bfcbd9;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;}
.m-form-radio>div>.radio>span:hover{border-color: #4b3887}
.m-form-radio>div>.radio>span:after{
    width: 10px;
    height: 10px;
    border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    background: #4b3887;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6);
}
.m-form-radio>div>.radio.active>span{
    border-color: #4b3887;
}
.m-form-radio>div>.radio.active>span:after{
    background: #4b3887;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);-moz-transform: translate(-50%, -50%) scale(1);
}


/*顶部订单*/
@media screen and (max-width: 375px){
    .m-order>.fl, .m-order>.fr{float: none !important;}
    .m-order>.fr{display: block;margin-top: 5px;}
}
.m-order{color:#666;padding:0 0.1rem;font-size: 0.12rem;}
.m-order label{display: inline-block;text-align: right;width: 0.55rem;}


.m-card-info {
    padding:0 0.1rem;
    font-size: .13rem;
}

.m-card-info>label,.m-card-info>span>.yellow>i{
    color: #666;
}
.m-card-info>span{
    font-size: 0.12rem;
}
.m-card-info>span>.purple {
    font-size: .17rem;
    position: relative;
    top: 1px;
}

.u-icon-dropDown{
    background-image: url('../img/drop-down.png');
}
.u-icon-dropUp{
    background-image: url('../img/drop-up.png');
}

