.card-list>ul {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}
.col-3>a{
    text-align: center;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    float: left;
    height: .4rem;
    line-height: .4rem;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, .2);*/
    transition-duration: .3s;
    -webkit-transition-duration: .3s
}
.col-3 {
    padding: .1rem;
    background-color: #EBECEE;
    font-size: .13rem;
}
.col-3>a:active {
    transform: scale(.95);
    -webkit-transform: scale(.95)
}

.col-3>a>img {
    vertical-align: middle;
    margin-right: 4px
}

.col-3>.yellow2 {
    width: 18%;
    color: #ECAC17
}

.col-3>.yellow2>img {
    width: .12rem;
    position: relative;
    top: -1px
}

.col-3>.grey {
    width: 60%;
    margin: 0 1%;
    color: #bbb
}

.col-3>.grey>img {
    width: .15rem
}

.col-3>.blue {
    width: 18%
}

.col-3>.blue>img {
    width: .15rem
}
.m-search>div>input{
	width: 100%;
    text-indent: .3rem;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: .17rem;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    height: .4rem;
    font-size: .15rem;
    line-height: 1.6;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
.m-search>div>input:focus{
    border-color: #20a0ff
}
.m-search>div>.cancel{
	display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: .25rem;
    width: .4rem;
    height: .4rem;
    color: #1f2d3d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.17rem;
    background-image: url(../img/cancel.png);
}
.m-search>div>.cancel:before{
	margin-top: .08rem
}
.m-search>div {
    width: 61%!important;
    margin: 0 1.5%!important;
    float: left;
    vertical-align: top;
    position: relative
}

.m-search>.bg-y {
    width: 18%!important;
    background-color: #ffc333;
    color: #fff;
}

.tag-1 {
    font-size: .14rem;
    padding: .1rem .2rem;
    color: #777
}

#app>section {
	position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    right: 0;
    bottom: 0;
    z-index: 777;
    width: 100%;
    padding: 0!important;
    max-width: 768px;
    min-width: 300px;
    margin: auto;
    background-color: #fff
}