body{background-color: #f7f8f9}
.tag{color: #5e6e7e;padding: 0.12rem 0.1rem;}
.tag>.fr{}
.tag>.fr>span{
    color: #999
}
.m-dropdown{
    position: relative;
    display: inline-block;
}
.m-dropdown>span{
    display: inline-block;
    /*border:1px solid transparent;*/
    min-width:0.8rem;
    border-radius: 3px;
    border-color: #5e6e7e;
    color: #5e6e7e;
    padding:5px;
    padding-right: 0.2rem;
    background-image: url(../img/drop-down.png);
    background-color: #fff;
    background-position: 96% center;
    background-repeat: no-repeat;
    background-size: 0.15rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.m-dropdown>ul{
    position: absolute;
    width: 100%;
    height:0;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
    top: 0.32rem;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 3px;
}
.m-dropdown>ul.active{
    height: 0.87rem;
}
.m-dropdown>ul>li{
    padding: 6px;
    text-align: center;
}
.m-dropdown>ul>.active{
    background-color:#4b3887;
    color: #fff;
}
.m-list{background-color: #fff;}
.m-list>li{
    padding:0.1rem 0;
    margin-left: 0.2rem;
    border-bottom: 1px solid #eee;
}
.m-list>li:last-child{
    border-bottom:none;
}
.m-inner-list{}
.m-inner-list>dd{
    margin-bottom: 7px;
}
.m-inner-list>dd:last-child{
    margin-bottom: none
}
.m-inner-list>dd>.fr{margin-right:7px;}
.m-inner-list>dd>label{
    color: #666;
}